@import '../../variables.css';

.app-sidebar-img {
    margin-right: 20px;
}

.app-sidebar-note button {
    color: var(--buttondc1);
  }
  .app-sidebar-note p {
    margin: 10px 0;
  }
  .app-sidebar-note small {
    display: block;
    color: var(--background-grey999);
  }
  
  .app-sidebar-note:hover {
    background: var(--background-greyddd);
  } 
  .app-sidebar-note.active,
  .app-sidebar-note.active small {
    background: var(--background-greyEDE);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

.app-sidebar-left {
    display: flex;
    align-items: center;
}

.app-sidebar-right {
    display: flex;
    align-items: center;
}

.note-meta {
    margin-right: 20px;
    font-size: 14px;
}

.app-sidebar-header {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  font-family: 'Inter';
  color: #83898D;
  font-weight: 600;
}

.app-sidebar-header h1 {
  margin: 0;
}

.app-sidebar-img-delete {
    margin-top: 3px;
}

.sidebar-note-title strong {
    font-family: 'Inter';
    font-size: 14px;
    color: #1D1C1D;
}

.app-sidebar-header button{
    color: var(--text-grey838);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
}

.app-sidebar-add-button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px 25px 15px 25px;
    cursor: pointer;
}

.app-sidebar-add-button img {
    margin-right: 25px;
}

.app-sidebar-add-button:hover {
    background: var(--background-greyddd);
}

.app-sidebar-add-button span {
    font-family: 'Inter';
    font-size: 16px;
    text-decoration: underline;
    font-weight: bold;
}

.app-sidebar-notes {
    height: calc(100vh - 78px);
    overflow-y: auto;
  }
  .app-sidebar-note {
    padding: 15px 25px 15px 25px;
    font-family: 'Inter';
    cursor: pointer;
    display: flex;
    justify-content: space-between;
  }
  .sidebar-note-title {
    display: flex;
    justify-content: space-between;
  }
