:root {
    --text-grey838: #83898D;
    --border-greyF2F: #F2F2F2
    --background-grey999: #999;
    --background-greyddd: #ddd;
    --background-greyEDE: #EDE1FA;
    --background-grey808: #808080;
    --background-grey000: #00000005;
    --bottom-activeEDE: #EDE1FA;
    --buttondc1: #dc143c;
}

